@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BBH Bogle", sans-serif;
}

:root {
    --bg-gradient: linear-gradient(
        to left bottom,
        #80c5d0,
        #92c5df,
        #acc4e5,
        #c5c3e3,
        #d9c3dc
    );

    --bg-blur: rgba(255, 255, 255, 0.5);
    --bg-nav: rgba(74, 16, 167, 1);
    --brand-color: 
    --base-color: 
    --surface-color: 
    --text-color:
    --secondary-text-color:
}

body {
    background-color: #000000;
}

section {
    position: relative;
    background: #000000;
    background: var(--bg-gradient);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 75px 1fr;
}

nav {
    background-color: var(--bg-nav);
    z-index: 2;
    width: 100%;
}

main {
    margin: 2em;
    background: var(--bg-gradient);
    border-radius: 20px;
    padding: 20px;
    z-index: 2;
    corner-shape: squircle;
}

.blur {
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-blur);
    width: 100%;
    height: 100%;
    z-index: 1;
}
