@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: hsl(246, 76%, 5%);
        --background: hsl(0, 0%, 100%);
        --primary: hsl(243, 76%, 51%);
        --secondary: hsl(243, 87%, 27%);
        --accent: hsl(242, 97%, 29%);

        --border: hsla(0, 0%, 0%, 0.1);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: hsl(246, 76%, 95%);
        --background: hsl(240, 7%, 11%);
        --primary: hsl(243, 64%, 43%);
        --secondary: hsl(243, 100%, 12%);
        --accent: hsl(242, 100%, 32%);

        --border: hsla(0, 0%, 100%, 0.1);
    }
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: auto !important;
    font-family: "Inter", ui-sans-serif;
    color: var(--text);
    background-color: var(--background);
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.75;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 12%;
    align-items: center;
    position: fixed;
    background-color: var(--background);
    z-index: 9997;
    border-bottom: 1px solid var(--border);
    top: 0;
    left: 0;

    .sitename {
        color: var(--text);
        font-weight: 700;
        font-size: 1rem;
    }

    .logo-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .link-elements {
        display: flex;
        flex: 0 0 1;
        gap: 2rem;
    }

    .href-container {
        display: flex;
        flex: 0 0 1;
        gap: 0.5rem;
        align-items: center;
    }

    .hamburger-menu {
        display: none;
        align-items: center;
    }

    #openbtn,
    #closebtn {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    #closebtn {
        display: none;
    }
}

p {
    font-size: clamp(1vw, 1rem, 5vw);
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-rows: 100vh;
    grid-auto-rows: auto;
    gap: 8rem;
    margin: 1rem 0;
    width: auto;
    background-color: var(--background);

    .top-background {
        z-index: 0;
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("https://rare-gallery.com/uploads/posts/503115-clean-desk.jpg");

        .background-blur {
            z-index: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(
                0deg,
                var(--background) 0%,
                rgba(0, 0, 0, 0.1) 50%,
                rgba(0, 0, 0, 0.25) 100%
            );
        }
    }
    .fly-in-animation {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
        animation: fly-in 0.75s ease-in;
    }
    .hero,
    .what-we,
    .mind-map-display {
        width: auto;
        margin: 6rem min(2rem, 1%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .main-body {
        margin: 0 auto;
        width: 80%;
        max-height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;
    }

    .main-body > * {
        min-width: 0;
    }

    .hero {
        .hero-part-main {
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 3rem;
        }

        .button-span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;

            #startbtnspan button,
            #supportbtnspan button {
                padding: 0.75rem 1.5rem;
                border: none;
                color: var(--text);
                min-width: 200px;
                width: 100%;
                font-size: clamp(16px, 3vw, 1rem);
                cursor: pointer;
                border-radius: 1rem;
            }

            #startbtnspan button {
                background-color: var(--primary);
            }
            #supportbtnspan button {
                background-color: var(--secondary);
            }
        }

        .hero-website-slogan {
            white-space: normal;
            text-overflow: ellipsis;
            max-width: 100%;
            line-height: 1.4;
            font-size: clamp(2rem, 6vw, 66px);
            font-weight: 700;
            text-wrap: pretty;
            text-transform: capitalize;
            font-weight: 600;
        }

        .gradient-text-element {
            font-size: clamp(3rem, 8vw, 7rem);
            text-transform: uppercase;
            font-weight: bold;
        }

        .hero-image {
            display: flex;
            justify-content: center;
            align-items: center;
            scale: 1;
        }
    }

    .what-we {
        position: relative;
        width: auto;

        .main-body {
            flex-direction: column !important;
            gap: 2rem;
        }

        h2 {
            font-size: clamp(2rem, 8vw, 56px);
            text-align: center;
        }

        .present-cards-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            gap: 2rem;
            flex: 1 1 auto;
        }

        .present-card {
            width: auto;
            flex: 1 1 min(350px, 100%);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            padding: min(2.5rem, 6%);
            gap: 20px;
            background-color: hsl(from var(--primary) h s l / 0.3);
            border-radius: 1rem;

            h4 {
                font-size: clamp(1rem, 4 vw, 2.5rem);
            }
        }
    }

    .mind-map-display {
        .container {
            width: 100%;
            height: 800px;
            background: #00000008;
        }
    }
}

@keyframes fly-in {
    from {
        transform: translateY(-12px);
        opacity: 0;
        scale: 0.8;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        scale: 1;
    }
}

@keyframes wave {
    from {
        rotate: 0deg;
    }
    25% {
        rotate: 30deg;
    }
    50% {
        rotate: 0deg;
    }
    75% {
        rotate: -30deg;
    }
    to {
        rotate: 0deg;
    }
}

@keyframes wobble-in {
    from {
        scale: 0.5;
        opacity: 0.6;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        .main-body {
            padding: 5rem 0 0 0;
            flex-direction: column-reverse;
            justify-content: flex-end;
            gap: 3rem;

            .hero-website-slogan {
                font-size: fit-content !important;
                text-align: center;
            }

            .hero-undertext {
                text-align: center;
            }

            .hero-image {
                width: 60%;
            }

            .button-span {
                flex-direction: column;
            }
        }
    }
    nav {
        justify-content: space-between;
        padding: 0.5rem 1rem;
        position: none;
        .hamburger-menu {
            display: flex !important;
            margin: 0;
            padding: 1rem;
        }

        .nav-items {
            display: none;
        }

        .nav-items[aria-hidden="false"] {
            position: fixed;
            display: grid !important;
            padding: 1rem;
            margin: 0;
            background-color: var(--background);
            height: 100%;
            width: max(30%, 200px);
            justify-content: center;
            z-index: 9999;
            top: 0;
            right: 0;
            grid-template-areas:
                ". button"
                "links links";
            grid-template-rows: auto 1fr;
            margin: 0;
            border-left: 1px solid var(--border);

            .link-elements {
                flex-direction: column;
                grid-area: links;
            }

            #closebtn {
                display: flex;
                position: absolute;
                top: 12px;
                right: 12px;
                padding: 0;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.disclaimer-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;

    .blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.6);
    }

    .disclaimer {
        display: flex;
        flex-direction: column;
        width: max(50%, 350px);
        align-items: center;
        justify-content: center;
        height: auto;
        background: linear-gradient(
            120deg,
            var(--secondary),
            hsl(from var(--primary) h s calc(l - 20))
        );
        padding: 3rem;
        border-radius: 1rem;
        z-index: 9999999;
        rotate: 0deg;
        scale: 1;
        opacity: 1;

        animation: wobble-in 1s ease;

        h1 {
            text-align: center;
            font-size: clamp(1.5rem, 4vw, 3rem);
            line-height: 1.2;
        }

        .text-container {
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            font-size: clamp(10px, 3vw, 1rem);
            text-align: center;

            svg {
                rotate: 0deg;
            }

            svg:hover {
                animation: wave 3s linear infinite;
            }
        }
    }

    #close-disclaimer {
        background-color: var(--primary);
        color: var(--text);
        padding: 0.6rem 0.1rem;
        border: 1px solid var(--border);
        border-radius: 3rem;
        cursor: pointer;
        transition: 0.5s ease;
        width: 30%;
        min-width: 200px;
        font-size: 1.25rem;
    }

    #close-disclaimer:hover {
        background-color: hsl(from var(--primary) h s calc(l - 20));
    }
}
