@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*@media (prefers-color-scheme: light) {*/
:root {
    --text: hsl(348, 29%, 7%);
    --background: hsl(330, 25%, 98%);
    --primary: hsl(346, 29%, 52%);
    --secondary: hsl(92, 29%, 74%);
    --accent: hsl(123, 29%, 62%);
    --border: hsl(240, 4%, 89%);
}
/*}*/
/*@media (prefers-color-scheme: dark) {
    :root {
        --text: hsl(348, 28%, 93%);
        --background: hsl(330, 20%, 2%);
        --primary: hsl(346, 29%, 48%);
        --secondary: hsl(92, 29%, 26%);
        --accent: hsl(123, 29%, 38%);
        --border: hsl(240, 4%, 11%);
    }
}*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: var(--margin-lg);
    width: auto !important;
    font-family: "Inter", ui-sans-serif;
    color: var(--text);
    background-color: var(--background);
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.75;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 12%;
    align-items: center;
    position: fixed;
    background-color: var(--background);
    z-index: 9997;
    border-bottom: 1px solid var(--border);
    top: 0;
    left: 0;

    .sitename {
        color: var(--text);
        font-weight: 700;
        font-size: 1rem;
    }

    .logo-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .nav-items {
        display: flex;
        gap: 2rem;
    }

    .href-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

p {
    font-size: 1rem;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.gradient-text-element {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 5rem 0;
    width: 100%;
    background-color: var(--background);
    position: relative;

    .hero {
        width: 100%;
        margin: 2rem 6rem;
        display: flex;
        justify-content: center;

        .hero-body {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5rem;
        }

        .hero-part-main {
            display: flex;
            flex-direction: column;
            width: 600px;
            gap: 3rem;
        }

        .hero-website-slogan {
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            line-height: 1.4;
            font-size: 66px;
            font-weight: 700;
            text-wrap: pretty;
            text-transform: capitalize;
        }

        .hero-image {
            display: flex;
            justify-content: center;
            align-items: center;
            scale: 1;
        }

        .hero-image img {
            object-fit: cover;
            aspect-ratio: 4 / 3;
            width: 70%;
            border-radius: 6px 32px;
            filter: drop-shadow(0 0.15rem 1.3rem rgba(0, 0, 0, 0.5));
        }
    }
}
